@{
    ViewData["Title"] = "Home Page";
}
<h3>@ViewBag.CacheValue</h3>
<h2 ÜRÜN LİSTESİ</h2>
    <ul>
    @foreach (Product item in ViewBag.ProductList)
    {
        <li>@item.Name  @item.CreatedDate</li>
    }

    </ul>
<h3>@ViewBag.ProductList</h3>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
